$font: 0.75rem;

div.calendar {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 250px;
}

div.container {
  user-select: none;
  display: grid;
  grid-gap: 1px;

  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;

  font-size: $font;
  color: var(--color-black);

  .day {
    padding: 0.5rem;
    min-height: 1rem;
    align-items: center;

    &:hover:not(.selected) {
      cursor: pointer;
      outline: 2px solid var(--calendar-border-color-focus);
    }

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .selected {
    background-color: rgb(249, 221, 168);
    border-radius: 50%;
  }
  .weekend {
    background-color: #f4f4f4;
  }
  .today {
    background-color: rgb(223, 255, 222);
  }

  .weekend_selected {
    background-color: rgb(249, 221, 168);
    border-radius: 50%;
  }
  .current_month {
    color: #949494;
  }
}
.panelWeek {
  padding: 0.5rem;
  min-height: 1rem;

  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.containerWeek {
  font-size: $font;
  background-color: var(--color-grey50);
  user-select: none;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
}
.containerPanel {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 0;
  font-size: 1rem;
  align-items: center;
  // border: 1px solid #d5d5d5;
}
.next,
.prev {
  cursor: pointer;
}
.panelMonth {
  background-color: #f5a8a8;
}
.dropDown {
  background-color: #9c9b9b;
  display: grid;
  grid-gap: 0.5rem;
  row-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  padding: 0.5rem;
  font-size: 1rem;
  width: 233px;
}
// .panelDate {
//   display: flex;
// }
.year {
  background-color: #e9e391;
}
